<p *ngFor="let character of characters">
  <span [routerLink]="['/character', character.id]">{{character.name}} {{character.status}}</span>&nbsp;<span [ngClass]="{'m-green': character.like}"
                                                                          (click)="like(character)"
                                                                          class="like"
                                                                          [title]="character.like ? 'Liked' : 'Like'">L</span>
</p>
