<ul style="position: absolute; top: 0; right: 0; margin: 5px; padding: 15px; border: 2px solid;">
  <li>
    profile
    <ul>
      <li>DONE: route</li>
      <li>DONE: page component</li>
      <li>DONE: template data</li>
      <li>route: characters/1 directly</li>
      <li>back button: character duplication</li>
      <li>back button: displays until resolve</li>
      <li>like/dislike as component</li>
      <li>
        upload photo
        <ul>
          <li>input</li>
          <li>d&d</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>autocomplete -> onChanges -> characters (app-characters-list)</li>
</ul>

<label for="filterLikedId">Show liked characters
  <input id="filterLikedId"
         type="checkbox"
         [(ngModel)]="filterLiked">
</label>
<div infinite-scroll
     [infiniteScrollDistance]="infiniteScrollDistance"
     [infiniteScrollDisabled]="filterLiked"
     (scrolled)="onScrollDown()">
  <app-characters-list [characters]="activeCharacterList"></app-characters-list>
  <p *ngIf="isLoading">loading . . .</p>
</div>
